APP_URL=
DATABASE_URL=
DB_CONNECTION_TIMEOUT=
DB_POOL_SIZE=
EMAIL_API_KEY=
EMAIL_FROM=
EMAIL_PROVIDER=
EMAIL_REPLY_TO=
ENABLE_EMAIL_VERIFICATION=false
GEMINI_API_KEY=
JOB_CONCURRENCY=
LOG_LEVEL=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=
SESSION_SECRET=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
STORAGE_PROVIDER=